<a type="button" class="btn btn-success" href="/devices">All Devices</a>

<div class="row">
	<div class="col">
		<h1>Device Details</h1>
		<table class="table table-striped table-bordered table-hover">                          
		  <tr>                          
		    <th>Device <%= @device.id %> </th>
		    <th></th>
		  </tr>
			  <tr>
			  	<th>Name:</th> 
			    <td><%= @device.name %></td> 
			  </tr>
			  <tr>
			  	<th>ID:</th> 
			  	<td><%= @device.id %></td>
			  </tr>
			  <tr>
			  	<th>Host:</th> 
			  	<td><%= @device.host %></td>  
			  </tr>
			  <tr>
			  	<th>OS:</th> 
			  	<td><%= @device.operating_system %></td>  
			  </tr>
			  <tr>
			  	<th>Start Time:</th> 
			  	<td><%= @device.start_time %></td> 
			  </tr>
			  <tr>
			  	<th>End Time:</th> 
			  	<td><%= @device.end_time %></td>  
			  </tr>
			  <tr> 
			  	<th>Group ID:</th> 
			    <td><%= @device.group_id %></td> 
			  </tr>                 
		</table> 
	</div>
	<div class="col">
		<h1>Software Details</h1>
		<table class="table table-striped table-bordered table-hover">                         
		  <tr>                          
		    <th>Name</th>
		    <th>Description</th>
		    <th>OS</th>
		    <th>Actions</th>
		  </tr>
			  <% @softwares.each do |software| %> 
			  <tr>
			    <td><%= software.name %></td> 
			    <td><%= software.description %></td>
			    <td><%= software.operating_system %></td>  
			    <td><%= button_to "View Assets", device_id_view_patches_path, method: :get%></td>
			  </tr>
			<% end %>              
		</table> 
		<%= button_to "Add Software", device_id_path, method: :get%>
	</div>
</div>
<br>
<hr>
<div class="row">
	<div class="col">
		<h1> Applied Assets</h1>
		<table class="table table-striped table-bordered table-hover">                          
		  <tr>
		  	<th>Name</th>                          
		    <th>Operating System</th>
		    <th>Software Name</th>
		    <th>ID</th>
		    <th>Current State</th>
		  </tr>
		   <% @applied_assets.each do |asset| %> 
		     <tr>
		       <td><%= asset[:name] %></td>
		       <td><%= asset[:operating_system] %></td> 
		       <td><%= asset[:software_name] %></td>
		       <td><%= asset[:id] %></td>  
		       <td><%= asset[:state] %></td>  
		     </tr>
		   <% end %>                  
		</table>   
		<h2>Transition asset</h2>
         <%= bootstrap_form_tag url: device_id_transition_path do |f|%>
         <%= f.text_field :aid, label: "Asset ID"%>
         <%= f.text_field :state, label: "Target State"%>
         <%= f.submit "Save"%>
         <%end%>          
	</div>
	<div class="col">
		<h1> Available Assets</h1>
		<table class="table table-striped table-bordered table-hover">                         
		  <tr>    
		  	<th>Name</th>                      
		    <th>Operating System</th>
		    <th>Software Name</th>
		    <th>ID</th>
		    <th>Current State</th>
		    <th>Actions</th>
		  </tr>
		   <% @dev_asset_array.each do |asset| %> 
		     <tr>
		       <td><%= asset[:name] %></td>
		       <td><%= asset[:operating_system] %></td> 
		       <td><%= asset[:software_name] %></td>
		       <td><%= asset[:id] %></td>  
		       <td><%= asset[:state] %></td> 
		       <td><%= button_to "Apply asset", device_id_apply_path, params: { patch_id: asset[:id]}, method: :post  %></td>
		     </tr>
		   <% end %>                  
		</table>             
	</div>
</div>
